.main-content {
    margin-top: 20px;
    min-height: 420px;
}

.card{
    width: 16rem;
    margin-bottom: 10px;
}

footer {
    clear: both;
    position: relative;
    height: 258px;
    padding: 0 !important;
    background-color: #f8f9fa;
    margin-top: 20px;
    border-top: 1px solid rgb(238, 235, 235);
}

.footer-middle {
    padding-top: 20px;
}

.footer-middle .container {
    width: 50%;
}

.footer-middle .footer-pad {
    text-align: justify;
}

ul.social-network {
    list-style: none;
    display: inline;
    margin-left: 0 !important;
    padding: 0;
}


/* ukuran untuk mobile */
@media screen and (max-width: 992px) {

    .content-text{
        margin-bottom: 10px;
    }
    
    .card{
        width: 100%;
    }

    footer {
        height: 290px;
    }

    .footer-middle .container {
        text-align: center;
        width: 100%;
    }
    
}